<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title>Document</title>
</head>
<body>
  <form method="post">
    <label>
      <img src="/img/easter_island.jpg" alt=""><br>
      <input type="radio" name="termek" value="husvet"> Húsvét szigetek
    </label>
    <label>
      <img src="/img/egypt.jpg" alt=""><br>
      <input type="radio" name="termek" value="egyiptom"> Egyiptom
    </label>
    <label>
      <img src="/img/fujisan.jpg" alt=""><br>
      <input type="radio" name="termek" value="japan"> Japán
    </label>
    <br>

    Név: <input type="text" name="nev"><br>
    Kuponkód: <input type="text" name="kupon"><br>
    <h2>Számlázás</h2>
    Ország: <input type="text" name="szaml_orszag"><br>
    Irányítószám: <input type="text" name="szaml_iranyito"><br>
    Város: <input type="text" name="szaml_varos"><br>
    Utca, házszám: <input type="text" name="szaml_cim"><br>
    <h2>Szállítás</h2>
    Ország: <input type="text" name="szall_orszag"><br>
    Irányítószám: <input type="text" name="szall_iranyito"><br>
    Város: <input type="text" name="szall_varos"><br>
    Utca, házszám: <input type="text" name="szall_cim"><br>
    <h2>Fizetés</h2>
    Bankkártya: <input type="text" name="bankkartya"><br>
    Lejárat: <input type="text" name="lejarat"><br>
    Biztonsági kód: <input type="text" name="biztonsag"><br>

    <% for (let e of errors) { %>
      <div class="alert alert-danger"><%= e %></div>
    <% } %>

    <input type="submit" value="Vásárol">

  </form>
</body>
</html>

